#projects {
    /* height: calc(100vh - 50px); */
    /* overflow */
    padding-top: 50px;
}

#projects > h1 {
    /* margin-top: 5px; */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}