.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #3dc0b0;
    width: 80%;
    margin: 15px auto;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}


.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.project-links > a {
    flex-grow: 1
}

.title {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .card {
        width: 40%;
    }

}
@media screen and (min-width: 950px) {
    .card {
        width: 30%;
    }

}
@media screen and (min-width: 1100px) {
    .card {
        width: 20%;
    }

}